<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menú de Pollo Loco</title>
    <link rel="stylesheet" href="../../css/pedido/tabla.css" />
    <link rel="stylesheet" href="../../css/modal.css">
    <script defer src="../../js/pedidos/bebidas.js"></script>
    <script defer src="../../js/pedidos/orden.js"></script>
    <script defer src="../../js/pedidos/modalesOrden.js"></script>
  </head>

  <body>
    <header id="barra-superior" class="barra-superior">
      <div id="pageActually">
        <img id="iconFlecha" src="../../../img/menu/retroceso.png" alt="" />
        <p>Crear Pedido</p>
      </div>
    </header>
    <main>
      <section class="module">
        <div class="nameComponent">
          <p>BEBIDAS</p>
        </div>
        <div class="detalles">
          <table>
            <thead>
              <tr id="columnDesc">
                <th>Producto</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr class="detalle" id="aguaN">
                <td class="producto">Agua Natural 600 ml.</td>
                <td class="descripcion">Agua con hielos</td>
                <td class="cantidad" id="aguaNCantidad">
                  <img class="less" src="../../../img/minus.png" />
                  <span>0</span>
                  <img class="add" src="../../../img/add.png" />
                </td>
                <td class="total" id="totalAguaN">0</td>
                <td>
                  <img class="bntEdit" src="../../../img/down.png" />
                </td>
              </tr>
              <tr class="detalle" id="cocaO">
                <td class="producto">Coca Cola Original 600 ml.</td>
                <td class="descripcion">Coca Cola con Hielos</td>
                <td class="cantidad" id="cocaOCantidad">
                  <img class="less" src="../../../img/minus.png" />
                  <span>0</span>
                  <img class="add" src="../../../img/add.png" />
                </td>
                <td class="total" id="cocaOTotal">0</td>
                <td>
                  <img class="bntEdit" src="../../../img/down.png" />
                </td>
              </tr>
              <tr class="detalle" id="cocaL">
                <td class="producto">Coca Cola Ligth 600 ml.</td>
                <td class="descripcion">Coca Cola con Hielos</td>
                <td class="cantidad" id="cocaLCantidad">
                  <img class="less" src="../../../img/minus.png" />
                  <span>0</span>
                  <img class="add" src="../../../img/add.png" />
                </td>
                <td class="total" id="cocaLTotal">0</td>
                <td>
                  <img class="bntEdit" src="../../../img/down.png" />
                </td>
              </tr>
              <tr class="detalle" id="Sprite">
                <td class="producto">Sprite 600 ml.</td>
                <td class="descripcion">Sprite con Hielos</td>
                <td class="cantidad" id="spriteCantidad">
                  <img  class="less" src="../../../img/minus.png" />
                  <span>0</span>
                  <img class="add" src="../../../img/add.png" />
                </td>
                <td class="total" id="spriteTotal">0</td>
                <td>
                  <img class="bntEdit" src="../../../img/down.png" />
                </td>
              </tr>
              <tr class="detalle" id="AguaJ">
                <td class="producto">Agua de Jamaica 600 ml</td>
                <td class="descripcion">Agua con Hielos</td>
                <td class="cantidad" id="aguaJCantidad">
                  <img class="less" src="../../../img/minus.png" />
                  <span>0</span>
                  <img class="add" src="../../../img/add.png" />
                </td>
                <td class="total" id="aguaJTotal">0</td>
                <td>
                  <img class="bntEdit" src="../../../img/down.png" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section class="botones">
        <button id="cancelar">
          <div id="imgBtn">
            <img src="../../../img/components/x.png" alt="" />
          </div>
          <div id="textBtn">
            <p>Cancelar</p>
        </button>
        <button id="agregar">
          <div id="imgBtn">
            <img src="../../../img/components/carritoLogo.png" alt="" />
          </div>
          <div id="textBtn">
            <p>Agregar</p>
          </div>
        </button>
      </section>
    </main>
    <dialog id="abrir" class="modal1">
      <div class="containerModal">
        <button class="cerrar">X</button>
        <h2>AVISO</h2>
        <p>NO HAY ELEMENTOS PARA GENERAR EL PEDIDO</p>
      </div>
    </dialog>
  </body>
</html>
