<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menú de Pollo Loco</title>
    <link rel="stylesheet" href="../../css/tabla.css" />
    <script defer src="../../js/pedidos/especiales.js"></script>
    <script defer src="../../js/pedidos/orden.js"></script>
  </head>
  <body>
    <main>
      <section class="modulo">
        <div class="detalles">
          <table>
            <tr>
              <th>Producto</th>
              <th>Descripción</th>
              <th>Cantidad</th>
              <th>Total</th>
              <th>Editar</th>
            </tr>
            <tr class="detalle" id="postre">
              <td class="producto">Burrito</td>
              <td class="descripcion">
                Burrito con Pollo Loco, frijol y arroz en tortilla de harina
                grande 28 cm.
              </td>
              <td class="cantidad" id="especial">
                <button class="less">
                  <img src="../../../img/minus.png" />
                </button>
                <span>0</span>
                <button class="add"><img src="../../../img/add.png" /></button>
              </td>
              <td class="total" id="espTotal">0</td>
              <td>
                <button class="bntEdit">
                  <img src="../../../img/down.png" />
                </button>
              </td>
            </tr>
          </table>
        </div>
        <button id="cancelar">Cancelar</button>
        <button id="agregar">Agregar</button>
      </section>
    </main>
  </body>
</html>
