<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menú de Pollo Loco</title>
    <link rel="stylesheet" href="../../css/pedido/tabla.css" />
    <script defer src="../../js/pedidos/especiales.js"></script>
    <script defer src="../../js/pedidos/orden.js"></script>
  </head>
  <body>
    <header id="barra-superior" class="barra-superior">
      <div id="pageActually">
        <img id="iconFlecha" src="../../../img/menu/retroceso.png" alt="" />
        <p>Crear Pedido</p>
      </div>
    </header>
    <main>
      <section class="module">
        <div class="nameComponent">
          <p>ESPECIALES</p>
        </div>
        <div class="detalles">
          <table>
            <thead>
              <tr id="columnDesc">
                <th>Producto</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr class="detalle" id="burrito">
                <td class="producto">Burrito</td>
                <td class="descripcion">
                  Burrito con Pollo Loco, frijol y arroz en tortilla de harina
                  grande 28 cm.
                </td>
                <td class="cantidad" id="especial">
                  <img class="less" src="../../../img/minus.png" />
                  <span>0</span>
                  <img class="add" src="../../../img/add.png" />
                </td>
                <td class="total" id="espTotal">0</td>
                <td>
                  <img class="bntEdit" src="../../../img/down.png" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section class="botones">
        <button id="cancelar">
          <div id="imgBtn">
            <img src="../../../img/components/x.png" alt="" />
          </div>
          <div id="textBtn">
            <p>Cancelar</p>
          </div>
        </button>
        <button id="agregar">
          <div id="imgBtn">
            <img src="../../../img/components/carritoLogo.png" alt="" />
          </div>
          <div id="textBtn">
            <p>Agregar</p>
          </div>
        </button>
      </section>
    </main>
  </body>
</html>
