<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
    <link rel="stylesheet" href="../../css/carrito/ticket.css">
    <script defer src="../../js/carrito/ticket.js"></script>
</head>

<body>
    <main>
        <section class="ticket" id="ticket">

            <div class="LogoTicket">
                <img src="../../../img/Ticket Pollo Loco.png" alt="" width=200px>
            </div>
            <div class="infoOrden">
                <p id="localName"></p>
                <p id="address"></p>
                <p id="separador">==========================================</p>
                <div class="fechaHora">
                    <p class="fecha"></p>
                    <p class="hora"></p>
                </div>
                <p id="separador">==========================================</p>

                <p class="numOrden"></p>
                
                <p id="attendedBy"></p>
                <p id="separador">==========================================</p>
            </div>
            <div class="orden">
                
                <div class="headers">
                    <p class="f1">Producto</p>
                    <p class="f2">Cantidad</p>
                    <p class="f3">Precio</p>
                </div>

                <div id="sepa">
                <p id="separador">==========================================</p>
                </div>
                
            </div>
                <div id="sepa">
                <p id="separador">==========================================</p>
                </div>
            <div class="infoPago">
                <div class="subA">
                    <p id="subtotalTxt">Subtotal </p>
                    <p id="subtotal"></p>
                </div>
                <div class="ivaA">
                    <p id="ivaTxt">IVA </p>
                    <p id="iva"></p>
                </div>
                <div class="totalA">
                    <p id="totalTxt">Total C/IVA </p>
                    <p id="total"></p>
                </div>
                <div class="metodoPagoA">
                    <p id="metodoPagoTxt"></p>
                    <p id="metodoPago"></p>
                </div>
                <div class="cambioA">
                    <p id="cambioTxt">Cambio</p>
                    <p id="cambio"></p>
                </div>
                
            </div>
            <div id="sepa">
                <p id="separador">==========================================</p>
                </div>

            <div class="mensaje">
                <p>¡Gracias por tu compra! :)</p>
                <p>Tramite su factura en</p>
                <p>www.EPL.mx/FACTURA</p>
                <p>o solicítela en caja</p>
            </div>
        </section>
        <button id="cmd">Generar PDF</button>
        <button id="back">back</button>
    </main>
</body>

</html>