<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
    <link rel="stylesheet" href="../../css/carrito/ticket.css">
    <script defer src="../../js/carrito/ticket.js"></script>
</head>

<body>
    <main>
        <section class="ticket" id="ticket">
            
            <div class="orden">
                <div class="headers">
                    <p class="f1">Producto</p>
                    <p class="f2">Cantidad</p>
                    <p class="f3">Precio</p>
                </div>
            </div>
        </section>
        <button id="cmd">Generar PDF</button>
        <button id="back">back</button>
    </main>
</body>

</html>