@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins";
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.barra-superior {
  background-image: url('../../../img/fondoheader.png'), linear-gradient(to right,#EC0715, #7A1F9D);
  background-size: cover;
  height: 63px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.barra-superior p {
  display: flex;
  align-items: center;
  color: white;
  margin: 0;
  padding: 0;
}

#pageActually{
  display: flex;
  align-items: center;
  width: 220px;
  height: 47px;
  font-size: 1.5rem;
  cursor: pointer;
}

#iconFlecha{
  width: 47px;
  height: 47px;
}

#endPedido{
  width: 169px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
  border-radius: 10px;
  font-size: .86rem;
  margin-right: 15px;
  cursor: pointer;
}

#endPedido p{
  margin: 0;
  padding: 0;
  width: 111px;
  height: 28px;
}

#iconEnd{
  width: 19px;
  height: 19px;
  padding-left: 10px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #F8F8F8;
}

.module{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
}

.nameComponent{
  width: 400px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px;
}

.nameComponent p{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.detalles{
  width: 1300px;
}

table{
  width: 100%;
  border-spacing: 0;
}

thead{
  background-color: #CB0000;
  width: 100%;
  height: 51px;
  color: white;
  font-size: 1.3rem;
}

th{
  border-collapse: collapse;
  margin: 0;
}

td{
  text-align: center;
  height: 47px;
}

#one{
  background-color: #FDCEA2;
}

#two{
    background-color: #FFE6C9;
  }
  
img {
    width: 15px;
    height: 15px;
}
.info-extra {
  display: none;
}

.info-extra-contenido {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #EEE1D2;
}

.detallesVenta{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 65rem;
}

.conteinerVenta{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  text-align: left;
}

#cantidad{
  width: 10rem;
}
#producto{
  width: 25rem;
}
#desc{
  width: 30rem;

}
#notes {
  
  width: 30rem;
}