body {
    font-family: Arial, sans-serif;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #da3333;
  }
  img {
    width: 15px;
  }
  .info-extra {
    display: none;
  }
  .info-extra-contenido {
    display: flex;
    justify-content: space-between;
  }
  .info-extra-contenido .izquierda,
  .info-extra-contenido .derecha {
    width: 45%;
  }